<h1>Verification Requests</h1>

<ul>
  <% @listings.each do |listing| %>
    <li>
      <%= link_to listing.title, listing_path(listing) %>
      <% if listing.verified %>
        <span>Verified</span>
      <% end %>
    </li>
  <% end %>
</ul>
