<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Welcome to RoomMate</h1>

<p>Find roommates, manage your profile, and stay connected with the community.</p>

<p>
  <%= link_to 'Sign up', auth_register_path %> or
  <%= link_to 'Log in', auth_login_path %>
</p>

